* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  background: #fff;
  min-height: 100vh;
  overscroll-behavior: none;
}

#root {
  min-height: 100vh;
}
